{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}<!-- für Django Sicherheit-->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Kunde</legend><!-- margin bottom = 4-->
                    {{ kundenform|crispy}}
                    <!--{{ form.as_p }} das .as_p rendert unsere form in Paragraph Tags, sonst passen die zeilenabsätze nicht-->
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Speichern</button>
            </div>
        </form>

    </div>
{% endblock content %}